SECRET_KEY=f9bf78b9a18ce6d46a0cd2b0b86df9da
DEBUG=True
DB_NAME=backend
DB_USER=postgres
DB_PASSWORD=newpassword
DB_HOST=localhost
DB_PORT=5432
EMAIL_HOST_USER=your-host-email
EMAIL_HOST_PASSWORD=ozjjwuhzrcvcmlcy
SPACES_KEY=your-aws-access-key
SPACES_SECRET=your-aws-secret
ENV=your-environment
FRONTEND_URL=your-frontend-url

